<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <!--<img alt="Logo" src="assets/images/logos/fuse.svg">-->
            </div>

            <div class="title">{{loginConfigTxt.login.loginTitle}}</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>{{loginConfigTxt.commonLb.email}}</mat-label>
                    <input matInput formControlName="email" email>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        {{loginConfigTxt.errorTxt.emailReq}}
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        {{loginConfigTxt.errorTxt.validEmail}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> {{loginConfigTxt.commonLb.password}}
                    </mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{loginConfigTxt.errorTxt.passwordReq}}

                    </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" *ngIf="error">
                    <mat-error>{{ error }}</mat-error>
                </div>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me" [checked]="rememberMe"
                        (change)="rememberMe = !rememberMe">
                        {{loginConfigTxt.login.rememberMe}}

                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/auth/forgot-password'">
                        {{loginConfigTxt.login.forgotPwd}}

                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" type="submit"
                    [disabled]="loginForm.invalid">
                    {{loginConfigTxt.loginBtn}}
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{loginConfigTxt.login.haveAccount}}</span>
                <a class="link" [routerLink]="'/auth/register'">{{loginConfigTxt.login.createAcc}}</a>
            </div>

        </div>

    </div>

</div>