<div class="payment-block">
  <h2>{{paymentConfig.payment.agentPayment}}</h2>
  <form id="payment-form" [formGroup]="paymentFg">
    <div class="row-block">
      <div class="col col-md-6">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>{{paymentConfig.payment.nameOnCard}}</mat-label>
          <input matInput name="name" formControlName="name" required>
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error>{{paymentConfig.payment.nameReq}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col col-md-6">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>{{paymentConfig.payment.amount}}</mat-label>
          <input matInput name="amount" formControlName="amount" required (keypress)="_keyPress($event)">
          <mat-icon matSuffix>monetization_on</mat-icon>
          <mat-error>{{paymentConfig.payment.amountReq}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row-block">
      <div class="col col-md-12">
        <mat-radio-button value="newCard" (change)="paymentTypeChange($event)" [checked]="cards?.length==0">
          {{paymentConfig.payment.addNewCard}}</mat-radio-button>
        <div class="form-row mb mr-4 mt-20">

          <div id="card-element">
          </div>
          <div id="card-errors" role="alert"></div>
        </div>
      </div>
    </div>

    <div class="row-block mt-20">
      <div class="col col-md-12">
        <div *ngIf="cards?.length>0">
          <mat-radio-button value="previousCard" (change)="paymentTypeChange($event)" [checked]="cards?.length>0">
            {{paymentConfig.payment.previousCards}}
          </mat-radio-button>
        </div>
      </div>
    </div>
    <div class="row-block mt-20">
      <div class="col col-md-6" *ngFor="let card of cards; let i=index;" (click)="cardChange(card)">
        <div class="card card-block" [ngClass]="{'active-card': activeCard === card}">
          <div class="closebtn" (click)="removeCard(card)"><i class="material-icons">
              close
            </i></div>
          <div class="card-no">
            **** **** **** {{card.card_number}}
          </div>

          <div class="exyear">
            <div class="monthblock">
              {{card.exp_month}}/{{card.exp_year}}
            </div>

          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button color="accent" [disabled]='paymentFg.invalid' (click)='onSubmit()' class="mr-4 ">
      {{paymentConfig.payment.pay}}
    </button>

  </form>

</div>