<button *ngIf="selectedCampaign?.id; else elseBlock" mat-fab color="accent" class="add-campaign-button"
        [routerLink]="['edit']" aria-label="edit campaign"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>edit</mat-icon>
</button>
<ng-template #elseBlock>
    <button mat-fab color="accent" class="add-campaign-button"
            [routerLink]="['add']" aria-label="add campaign"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="newCampaign()">
        <mat-icon>add</mat-icon>
    </button>
</ng-template>