@mixin campaigns-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    .ngx-datatable.material.single-selection .datatable-body-row.active,
    .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
    .ngx-datatable.material.multi-selection .datatable-body-row.active,
    .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
    .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
        background-color: mat-color($accent) !important;
    }
    .ngx-datatable.material.single-selection .datatable-body-row.active:hover,
    .ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
    .ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
    .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
        background-color: mat-color($accent) !important;
    }
}