<button mat-flat-button class="mr-4" color="accent" (click)="changeColumnName()">Change column</button>
<button mat-flat-button class="mr-4" color="accent" (click)="toggleSidebarOpen('orderColumn')">
    Hide/Show column
</button>
<button mat-flat-button class="mr-4" color="accent" (click)="viewOrderDetails()" [disabled]="!show || !selectedOrder">{{commonBtn.detail}}</button>      
<button mat-flat-button class="mr-4" color="accent" (click)="pause()" [disabled]="!show || (!selectedOrder || selectedOrder?.status_id === 'Inactive')">
    {{commonBtn.pause}}
</button>
<button mat-flat-button class="mr-4" color="accent" (click)="resume()" [disabled]="!show || (!selectedOrder || selectedOrder?.status_id === 'Active')">
    {{commonBtn.resume}}
</button>
<button mat-flat-button class="mr-4" color="accent" [disabled]="!show || (!selectedOrder || selectedOrder?.status_id === 0)" (click)="cancel()">{{commonBtn.cancel}}</button>
<fuse-sidebar name="orderColumn" position="right" class="orders-filter">
    <h1 class="ml-4">Hide/Show column</h1>
    <div class="p-12">
        <ng-container *ngFor="let column of orderColumns; let i = index">
            <div>
                <mat-checkbox [checked]="column.flag" (change)="changeColumnFlag($event.checked,i)">
                    {{ column.name }}
                </mat-checkbox>
            </div>
        </ng-container>
    </div>
    <button class="ml-8 mr-8" type="button" mat-flat-button [disabled]="isSaveBtnDisabled" color="accent"
        (click)="saveColumnHideShow()">
        save
    </button>
</fuse-sidebar>