.quotes-fg{
   background-color: #0E5DF4!important;
}
.blue-fg{
   background-color: #2196f3!important;
}
.orange-fg{
   background-color: #ff9800 !important;
}
.red-fg{
   background-color: #f44336 !important;
}
.green-fg{
   background-color: #4caf50 !important;
}
.customer{
   background-color: #BBBDBF!important
}
.status-icons{
   color:white!important;
   border-radius: 100%;
   font-size: 23px;
   text-align: center;
   margin-right: 5px;
}