.filter-button {
    max-height: 84px;
}

.width-100 {
    width: 100%;
}
.adress-text { padding: 10px 0px; display: block; line-height: normal}
.status-icons {font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;}