<mat-paginator [length]="news.length"
               [hidePageSize]="true"
               [pageSize]="pageSize"
               (page)="setPage($event)">
</mat-paginator>
<ng-template ngFor let-newsItem [ngForOf]="filteredNews">
    <div class="card mb-16" id="newsItem">
        <div class="card-preview">
            <div [class.selected-background]="newsItem.id === selected?.id" class="fuse-card"
                 style="max-width: 100%;">
                <div class="p-16" [class.cursor-pointer]="isAdmin"
                     (click)="isAdmin && newsItemSelected(newsItem.id)" fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div class="pr-16">
                        <div class="h1 font-weight-300">{{ newsItem.title | titlecase }}</div>
                        <div class="h5 secondary-text">{{ newsItem.author }}
                            - {{ newsItem.createdDate }}</div>
                        <div class="pt-16 pb-16" [innerHTML]="newsItem.content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>