<div class="p-12" fxLayout="column" fxFlex fusePerfectScrollbar>
    <form name="form" #customerFilterForm="ngForm" (ngSubmit)="filter(customerFilterForm)" fxLayout="column"
        fxLayoutAlign="start" fxFlex="1 0 auto">
        <div fxLayout="row" fxFlex="100">
            <button type="button" color="accent" (click)="resetForm()" mat-stroked-button fxFlex="50">
                <mat-icon>cached</mat-icon>
                {{customerFilterConfig.commonBtn.reset}}
            </button>
            <button class="ml-8" type="submit" fxFlex="50" mat-flat-button color="accent">
                <mat-icon>search</mat-icon>
                {{customerFilterConfig.commonBtn.submit}}
            </button>
        </div>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth pt-24">
            <mat-label>{{customerFilterConfig.custId}}</mat-label>
            <input matInput type='number' [(ngModel)]="customerFilters.customerID" pattern="^\d+$" name="customerID" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth">
            <mat-label>{{customerFilterConfig.commonInfo.firstName}}</mat-label>
            <input matInput type='text' [(ngModel)]="customerFilters.firstName" name="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth">
            <mat-label>{{customerFilterConfig.commonInfo.lastName}}</mat-label>
            <input matInput type='text' [(ngModel)]="customerFilters.lastName" name="lastName" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth">
            <mat-label>{{customerFilterConfig.commonInfo.email}}</mat-label>
            <input matInput type='email' [(ngModel)]="customerFilters.email" name="email" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth">
            <mat-label>Status</mat-label>
            <mat-select placeholder="Status" name="status" [(ngModel)]="customerFilters.status">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let status of statuses" [value]="status?.statusId">{{status?.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth">
            <mat-label>Provider</mat-label>
            <mat-select placeholder="Provider" name="providerID" [(ngModel)]="customerFilters.providerID">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let obj of providers" [value]="obj.id">{{obj.provider.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="fullwidth">
            <mat-label>Lead Type</mat-label>
            <mat-select placeholder="Lead" name="leadID" [(ngModel)]="customerFilters.leadID">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let type of leadTypes" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>