::ng-deep .mat-checkbox-layout .mat-checkbox-label {line-height: 30px;}
::ng-deep .mat-checkbox-layout .mat-checkbox-label { font-size: 14px;}
.font-weight-bold { font-weight: 600;}
.alignment {
    float: right;
}