<form fxLayout="column" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword(changePasswordForm.getRawValue())">
    <div class="tab-content p-24" fusePerfectScrollbar fxFlex="100" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
            <mat-form-field appearance="outline" fxFlex="49">
                <mat-label>{{changePwdConfig.password.password}}</mat-label>
                <input matInput type="password" name="password" formControlName="password"
                    validateEqual="confirmPassword" reverse="true" required>
                <mat-error>{{changePwdConfig.errorTxt.passwordReq}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="49">
                <mat-label>{{changePwdConfig.password.confirmPwd}}</mat-label>
                <input matInput type="password" name="confirmPassword" formControlName="confirmPassword"
                    validateEqual="password" required>
                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                    {{changePwdConfig.errorTxt.confirmPwdReq}}</mat-error>
                <mat-error *ngIf="!changePasswordForm.get('confirmPassword').hasError('validateEqual')">
                    {{changePwdConfig.errorTxt.pwdMatch}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
            <span fxFlex></span>
            <button type="submit" mat-raised-button color="accent"
                [disabled]="changePasswordForm.invalid">{{changePwdConfig.changePwdBtn.changePasswordBtn}}</button>
        </div>
    </div>
</form>