quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }
}


.mat-list-base .mat-subheader {     font-size: 20px;}
body.theme-default .mat-list-base .mat-subheader{color: #000;}
.viewall {     margin-left: 16px;
    margin-bottom: 15px;
    display: block;}
