@import "src/@fuse/scss/fuse";

.add-news-button {
    position: fixed;
    bottom: 75px;
    right: 24px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}

.width-100 {
    width: 100%;
}

.filter-bar {
    height: 110px !important;
    min-height: 110px !important;
    max-height: 110px !important;
    border-bottom: 0 !important;
}