.action-bg{
   background-color: #BBBDBF!important;
   border-radius: 50%;
   width: 25px;
   color:white;
   height: 25px;
   .mat-icon {
      display: flex;
      height: 25px;
      text-align: center;
      align-items: center;
      vertical-align: middle;
      justify-content: center;
      width: 25px;
      font-size: 17px;
      fill: white;
   }
}
